# Build folders
bin/
obj/
out/

# Visual Studio / Rider / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet packages
*.nupkg
packages/
*.snupkg

# ASP.NET temporary files
*.dbmdl
*.log
*.DS_Store

# EF Migrations / Local databases (si no quieres subirlas)
*.mdf
*.ldf

# Docker
*.dockerignore
*.env

# IDE specific
.idea/

# Node.js (si tienes frontend)
node_modules/
dist/